<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/Custom/Styles/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("Partials/_Header")

<div class="container content">
    <div class="row">
        @RenderBody()
    </div>

    @Html.Partial("Partials/_Footer")
</div>
    
<script>
    let DevMode = false;
</script>

@if (Request.IsLocal)
{
    <script>
        DevMode = true;
    </script>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/Underscore")
@Scripts.Render("~/bundles/bootstrap")

@RenderSection("scripts", false)
@RenderSection("styles", false)
</body>
</html>
